.border {
  &__round-corners {
    &__small {
      border-radius: 25px;
      padding: 20px;
      width: 100px;
      height: 100px;
    }
    &__medium {
      border-radius: 25px;
      padding: 20px;
      width: 200px;
      height: 200px;
    }
    &__large {
      border-radius: 25px;
      padding: 20px;
      width: 300px;
      height: 300px;
    }
  }

  &__circle {
    &__small {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
    &__medium {
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
    &__large {
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }
  }
}
