.textPos {
  &__left {
    &__small {
      text-align: left;
      font-size: 100%;
    }
    &__medium {
      text-align: left;
      font-size: 150%;
    }
    &__big {
      text-align: left;
      font-size: 200%;
    }
  }
  &__center {
    &__small {
      text-align: center;
      justify-content: center;
      font-size: 100%;
    }
    &__medium {
      text-align: center;
      justify-content: center;
      font-size: 150%;
    }
    &__big {
      text-align: center;
      justify-content: center;
      font-size: 200%;
    }
  }
  &__right {
    &__small {
      text-align: right;
      font-size: 100%;
    }
    &__medium {
      text-align: right;
      font-size: 150%;
    }
    &__big {
      text-align: right;
      font-size: 200%;
    }
  }
}

.textCase {
  &__lower {
    text-transform: lowercase;
  }
  &__upper {
    text-transform: uppercase;
  }
  &__cap {
    text-transform: capitalize;
  }
}

.textStyle {
  &__bold  {
    font-weight: bold;
  }
  &__oblique {
    font-style: oblique;
  }
}